html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

svg {
    margin-top: 3px;
    float: left;
}



.nav-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
    -webkit-box-shadow: 0px 5px 7px -4px rgba(214,211,214,1);
    -moz-box-shadow: 0px 5px 7px -4px rgba(214,211,214,1);
    box-shadow: 0px 5px 7px -4px rgba(214,211,214,1);
}


.sticky-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1020;
  }


.navbar a {
    color: black;
    text-align: center;
    padding: 18px 16px 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    /* float: left; */
    float: right;
    font-size: 18px;
    height: 40px;

    
}

.navbar a:hover:not(.active) {
    color: #CD7127;
}
.navbar a.active {
    transition: all 0.3s ease-in-out;
}
.navbar a.active {
   transform: scale(1.2);
    letter-spacing: 1px;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #444641;
    margin: 6px 0;
    transition: 0.4s;
    display: none;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('/img/hero.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

#fixed h2 {
    left: 10%;
    top: 50%;
    font-size: 46px;
    color: white;
    position: absolute;
}

.typewrite > .wrap {
     border-right: 0.08em solid #fff;
    }

#fixed a {
    text-decoration: none;
    color: #fff;
}

#space {
    width: 100%;
    height: 20%;
    background-color: beige;
}



.apps-container {
    overflow: hidden;
    background-color: #444641;
}

.apps-container-part-width {
    height: 460px;
}

.apps-container-transition {
    transition: height 0.5s linear;
}

.apps-container-full-width {
    height: 900px;
}

#apps h2 {
    text-align: center;
    font-size: 30px;
    color: beige;
}

#apps-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-areas: "first second third"
                         "fourth fifth sixth";
    grid-gap: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.card-item {
    border-top: 10px solid #000;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    min-width: 230px;
    max-width: 315px;
    min-height: 330px;
    display: flex;
    flex-direction: column; 
    position: relative; 
    margin-right: auto;
    margin-left: auto;
}

.card-item img {
    width: 100%;

}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}

.fifth {
    grid-area: fifth;
}

.sixth {
    grid-area: sixth;
}


/*Card overlay effect*/
/*Atribution: https://codepen.io/littlesnippets/pen/rxKBWq */
.snip1361 {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
}
.snip1361 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1361 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1361 figcaption {
  position: absolute;
  top: calc(86%);
  width: 100%;
  background-color: #ffffff6c;
  padding: 15px 25px 65px;
}
.snip1361 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
/*   background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%); */
}
.snip1361 h3,
.snip1361 p {
  margin: 0 0 5px;
}
.snip1361 h3 {
  /* font-weight: 300; */
  font-size: 1.4em;
  line-height: 1.2em;
  /* text-transform: uppercase; */
}
.snip1361 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.snip1361 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.snip1361:hover figcaption,
.snip1361.hover figcaption {
  top: 70%;
}


/*contact form*/

#contactus {
    background-color: beige;;
    padding: 20px 30px;
}

.contactus-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "txt form";
    width: 80%;
    height: 100%;
    margin: auto;
}

.contactus-txt {
    grid-area: txt;
    font-size: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.contactus-txt p {
    margin: 12px;
}

.contactus-form {
    grid-area: form;
    margin-right: auto;
    margin-left: auto;
    background-color: #b4b4b4;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#first-name,
#last-name,
#email,
#phone,
#project {
    min-width: 280px;
    min-height: 25px;
    margin-bottom: 12px;
    margin-right: 3px;
    border: 1px solid rgba(139, 139, 139, 0.5);
    padding-left: 5px;
    font-size: 14px;
    background-color: beige;    
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color:  #CD7127;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #444641;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(128,127,125,1);
    -moz-box-shadow: 0px 0px 29px 1px rgba(128,127,125,1);
    box-shadow: 0px 0px 29px 1px rgba(128,127,125,1);
    transition: box-shadow 0.4s;
    padding: 0;
}

input[type="submit"]:hover {
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

label {
    display: block;
}

textarea {
    font-family: Helvetica, Arial, sans-serif;
}

/*collapse content*/

.collapsible {
    cursor: pointer;
    width: 100%;
    color: beige;
    text-align: center;
    font-size: 42px;
    background-color: #444641;
    padding-top: 25px;
  }
  
  .collapsible:hover
   {
    color: #CD7127;
    
  }
  .hide-icon {
      display: none;
  }

  footer {
    background-color: #444641;
    color: #d5d5d5;
    padding-top: 2rem;
    width: 100%;
    text-align: center;
}

footer h5 {
    margin-bottom: 0;
    padding-bottom: 5px;
}

.line-dark {
    width: 60%;
    border: 1px solid rgb(99, 99, 99);
    margin-bottom: 20px;
}

.line-light {
    width: 40%;
    border: 1px solid rgb(167, 167, 167);
    margin-bottom: 20px;
}


@media screen and (max-width: 1300px) {
    #fixed h2 {
        font-size: 38px;
    }
}

@media screen and (max-width: 1120px) {
    #apps-wrapper {
        grid-gap: 10px;
    }
    .snip1361 h3,
    .snip1361 p {
        margin: 0 0 2px;
    }
    .snip1361 h3 {
      font-size: 1em;
      line-height: 1.2em;
    }
    .apps-container-part-width {
        height: 450px;
    }

    .apps-container-full-width {
        height: 800px;
    }
    .snip1361 figcaption {
        top: calc(87%);
      }
}

@media screen and (max-width: 992px) {
    #fixed h2 {
        top: 60%;
        font-size: 34px;
    }
    #apps-wrapper {
        grid-gap: 30px;
        width: 90%;
    }
    .contactus-wrapper {
        width: 90%;
    }
    .card-item {
        min-height: 0;  
    }
    .apps-container-part-width {
        height: 400px;
    }

    .apps-container-full-width {
        height: 750px;
    }
}

@media screen and (max-width: 845px) {
    #fixed h2 {
        font-size: 30px;
    }
    #apps-wrapper {
        grid-gap: 20px;
        width: 95%;
    }
    .apps-container-part-width {
        height: 390px;
    }
    .snip1361 figcaption {
        top: calc(85%);
      }
}

@media screen and (max-width: 790px) {
    #apps-wrapper {
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        grid-template-areas: "first second"
                             "third fourth"
                             "fifth sixth";
        width: 70%;
        grid-gap: 30px; 
    }
    .apps-container-full-width {
        height: 1050px;
    }
    .apps-container-part-width {
        height: 400px;
    }
    .snip1361 figcaption {
        top: calc(87%);
    }
    .contactus-wrapper {
        width: 90%;
    }
    
    .contactus-txt {
        font-size: 36px;
    }

}

@media screen and (max-width: 700px) {
    #fixed h2 {
        font-size: 26px;
    }
    #apps-wrapper {
        width: 80%;
        grid-gap: 20px; 
    }
    .snip1361 figcaption {
        top: calc(86%);
    }
    .contactus-wrapper {
        width: 95%;
    }
    .contactus-form {
        width: 280px;
    }
    #first-name,
    #last-name,
    #email,
    #phone,
    #project {
    min-width: 220px;
    font-size: 12px;
}
}

@media screen and (max-width: 630px) {
    #fixed h2 {
        font-size: 26px;
        max-width: 350px
    }
    .apps-container-full-width {
        height: 1000px;
    }
    .apps-container-part-width {
        height: 390px;
    }
    #apps-wrapper {
        width: 90%;
        grid-gap: 10px; 
    }
    .snip1361 figcaption {
        top: calc(85%);
    }
    .contactus-txt {
        font-size: 36px;
    }
    .contactus-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "txt" "form";
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .contactus-txt {
        font-size: 30px;
        justify-content: flex-start;
        align-items: flex-start;
        width: 350px;
    }
    
    .contactus-txt p {
        margin: 6px;
    }
    
    .contactus-form {
        width: 350px;

    }
    .snip1361:hover figcaption,
    .snip1361.hover figcaption {
        top: 60%;
}
}

@media screen and (max-width: 560px) {
    #apps-wrapper {
        width: 95%;
        grid-gap: 10px; 
    }
    .apps-container-full-width {
        height: 1000px;
    }
    .apps-container-part-width {
        height: 380px;
    }   
}

@media screen and (max-width: 512px) {
    #apps-wrapper {
        grid-template-columns: 1fr 1fr;
        margin-right: auto;
        margin-left: auto;
        width: 98%;
    }  

    .apps-container-part-width {
        height: 380px;
    } 
    .apps-container-full-width {
        height: 950px;
    }
    .navbar a {
        padding: 12px 10px 4px;
        font-size: 16px;
    }
    svg {
        height: 44.69px;
        width: 117.56px;
    }
    #apps h2 {
        font-size: 26px;
    }

}
 
@media screen and (max-width: 496px) {
    #apps-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "first" "second"
        "third" "fourth"
        "fifth" "sixth";
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    } 
    .card-item {
        width: 260px;
    }
    .apps-container-part-width {
        height: 1030px;
    } 
    .apps-container-full-width {
        height: 2000px;
    }
    .snip1361:hover figcaption,
    .snip1361.hover figcaption {
        top: 70%;
}
.snip1361 figcaption {
    top: calc(87%);
}
.collapsible {
    font-size: 28px;
}
.contactus-form {
    background-color: #d5d5d5;
    height: 380px;
    width: 250px;
}
input[type="submit"] {
    width: 100%;
    height: 40px;

}
.contactus-txt {
    font-size: 24px;
    justify-content: center;
    align-items: stretch;
    width: 250px;
}
.apps-container-part-width {
    height: 1020px;
} 
}


@media screen and (max-width: 396px) {
    .navbar a {
        display: none;
    }

    .bar1, .bar2, .bar3 {
        display: block;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .burger {
        float: right;
        margin-right: 10px;
        /* direction: rtl; */
        display: block;
    }
    svg {
        display: block;
        float: left;
    }
    .nav-con {
        display: flex;
        justify-content: space-between;
    }
    .navbar a.active {
        transform: none; 
        letter-spacing: normal;

    }

}

@media screen and (max-width: 340px) {
    .contactus-txt {
        font-size: 24px;
        width: 250px;
    }
    .contactus-form {
        height: 380px;
        width: 250px;
        margin-right: auto;
        margin-left: auto;
    }
    #first-name,
#last-name,
#email,
#phone,
#project {
    min-width: 180px;
    min-height: 25px;
    margin-bottom: 12px;
    /* margin-right: 3px; */
    padding-left: 5px;
    font-size: 14px;
}
input[type="submit"] {
    width: 189px;
    height: 40px;
}

}

